#sign_up.modal.fade.in
  .border-form-div
    .modal-header
      %button.close{"data-dismiss" => "modal"} x
      %h2 Sign up
    .modal-body
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          = f.input :firstname, required: true, autofocus: true
          = f.input :lastname, required: true
          = f.input :email, required: true
          = f.input :password, required: true
          = f.input :password_confirmation, required: true
        .form-actions
          = f.button :submit, "Sign up", class: 'btn btn-success'
    
