%h1 Listing categories

.col-lg-12
  %table.table.table-striped.table-hover
    %tr
    %th
      %th
      %th Name
      %th Description
      %th
    - if admin?
      %th
      %th

    - categories.each_with_index do |category, i|
      %tr
        %td
        %td= (i+1)
        %td= category.name
        %td= category.description
        %td= link_to 'Show', category, class: 'btn btn-sm btn-primary'
        - if admin?
          %td= link_to 'Edit', edit_category_path(category), class: 'btn btn-sm btn-success'
          %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'

  %br
  - if admin?
    = link_to 'New Category', new_category_path
