%p#error= flash[:error]

%p
  %b Name:
  = category.name

%p
  - category.products.each_with_index do |product, i|
    = (i+1)
    = product.title
    = product.price
    = product.description
    %br/
  -if signed_in?
    %p
      %h3 New product
      = render 'products/form'

= link_to 'Back', categories_path, class: 'btn btn-primary'
= link_to 'Edit', edit_category_path(category), class: 'btn btn-success'
