%p#notice= notice
%p#error= flash[:error]

%h1 Listing products

%table.table.table-striped.table-hover
  %tr
    %th
    %th Title
    %th Description
    %th Price
    %th
    %th
    %th

  - products.each_with_index do |product, i|
    %tr
      %td= (i+1)
      %td= product.title
      %td= product.description
      %td= product.price
      %td= link_to 'Show', category_product_path(product.category, product), class: 'btn btn-xs btn-primary'
      %td= link_to 'Edit', edit_category_product_path(product.category, product), class: 'btn btn-xs btn-success'
      %td= link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'

%br
= link_to 'Back', category_path(category.id), class: 'btn btn-primary'
