%p
  %b Category:
  = product.category.name
%p
  %b Title:
  = product.title
  %b#price Price:
  = number_to_currency(product.price)
%p
  %b Description:
  = product.description

%br/

= link_to 'Back', category_path(category.id), class: 'btn btn-primary'
= link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-success'

%h4 Reviews:
= render reviews

%h4 Add Review
= render 'reviews/form'
